.phpdebugbar {
  --border-color: #cbd5e1;
  --header-background-color: #e2e8f0;
}

/* Hide debugbar when printing a page */
@media print {
  .phpdebugbar {
    display: none;
  }
}

.phpdebugbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 0 none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 10000;
  font-size: 0.875rem;
  line-height: 1.1em;
  color: #000;
  text-align: left;
  letter-spacing: normal;
  direction: ltr;
}

.phpdebugbar a,
.phpdebugbar-openhandler {
  cursor: pointer;
}

.phpdebugbar-drag-capture {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10001;
  background: none;
  display: none;
  cursor: ns-resize;
}

.phpdebugbar-closed {
  width: auto;
}

.phpdebugbar {
  box-sizing: border-box;
}

.phpdebugbar * {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  clear: initial;
  width: auto;
  box-sizing: inherit;
}

.phpdebugbar ol,
.phpdebugbar ul {
  list-style: none;
}

.phpdebugbar table {
  border-collapse: collapse;
  border-spacing: 0;
}

.phpdebugbar input[type='text'],
.phpdebugbar input[type='password'] {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  font-size: 14px;
  color: #000;
  border: 0;
  padding: 0;
  margin: 0;
}

.phpdebugbar code,
.phpdebugbar pre,
.phpdebugbar samp {
  background: none;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1em;
  border: 0;
  padding: 0;
  margin: 0;
}

.phpdebugbar code,
.phpdebugbar pre {
  color: #000;
}

.phpdebugbar pre.sf-dump {
  color: #a0a000;
  outline: 0;
}



.phpdebugbar-resize-handle {
  display: none;
  height: 4px;
  margin-top: -4px;
  width: 100%;
  background: none;
  border-bottom: 1px solid #ccc;
  cursor: ns-resize;
}

.phpdebugbar-closed,
.phpdebugbar-minimized {
  /* border-top: 1px solid #ccc; */
}

/* -------------------------------------- */



.phpdebugbar-header {
  padding-left: 29px;
  min-height: 26px;
  line-height: 16px;
}

.phpdebugbar-header:before,
.phpdebugbar-header:after {
  display: table;
  line-height: 0;
  content: "";
}

.phpdebugbar-header:after {
  clear: both;
}

.phpdebugbar-header-left {
  float: left;
}

.phpdebugbar-header-right {
  float: right;
}

.phpdebugbar-header>div>* {
  padding: 5px 5px;
  font-size: 14px;
  color: #555;
  text-decoration: none;
}

.phpdebugbar-header-left>* {
  float: left;
}

.phpdebugbar-header-right>* {
  float: right;
}

.phpdebugbar-header-right>select {
  padding: 0;
}

/* -------------------------------------- */

span.phpdebugbar-indicator,
.phpdebugbar-indicator,
.phpdebugbar-close-btn {
  border-right: 1px solid var(--border-color);
}

.phpdebugbar-tab.phpdebugbar-active {
  color: #444;
  border-bottom: 2px solid #2563eb;
}

.phpdebugbar-tab span.phpdebugbar-badge {
  display: none;
  margin-left: 5px;
  font-size: 11px;
  line-height: 14px;
  padding: 0 6px;
  background: var(--border-color);
  border-radius: 4px;
  color: #555;
  font-weight: normal;
  text-shadow: none;
  vertical-align: middle;
}

.phpdebugbar-tab i {
  display: none;
  vertical-align: middle;
}

.phpdebugbar-tab span.phpdebugbar-badge.phpdebugbar-visible {
  display: inline;
}

.phpdebugbar-tab span.phpdebugbar-badge.phpdebugbar-important {
  background: #ed6868;
  color: white;
}

.phpdebugbar-close-btn,
.phpdebugbar-open-btn,
.phpdebugbar-restore-btn,
.phpdebugbar-minimize-btn,
.phpdebugbar-maximize-btn {
  width: 21px;
  height: 21px;
}

.phpdebugbar-restore-btn {
  float: left;
  border-top-right-radius: 10px;
  border-top: 1px solid #94a3b8;
  border-right: 1px solid #94a3b8;
  background: var(--border-color);
  padding: 5px 8px;
  width: initial;
  height: initial;
  font-size: 14px;
  color: #555;
  text-decoration: none;
  border-right: 1px solid #ddd;
}

.phpdebugbar-restore-btn::after {
  content: "\f188";
  font-family: FontAwesome;
  color: #2563eb;
}

.phpdebugbar-minimize-btn,
.phpdebugbar-maximize-btn {
  padding-right: 0 !important;
}

.phpdebugbar-maximize-btn {
  display: none
}

.phpdebugbar-minimize-btn {
  display: block
}

.phpdebugbar-minimized .phpdebugbar-maximize-btn {
  display: block
}

.phpdebugbar-minimized .phpdebugbar-minimize-btn {
  display: none
}

.phpdebugbar-minimize-btn {
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201792%201792%22%20id%3D%22chevron-down%22%3E%3Cpath%20d%3D%22M1683%20808l-742%20741q-19%2019-45%2019t-45-19l-742-741q-19-19-19-45.5t19-45.5l166-165q19-19%2045-19t45%2019l531%20531%20531-531q19-19%2045-19t45%2019l166%20165q19%2019%2019%2045.5t-19%2045.5z%22%2F%3E%3C%2Fsvg%3E) no-repeat 6px 6px / 14px 14px;
}

.phpdebugbar-maximize-btn {
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201792%201792%22%20id%3D%22chevron-up%22%3E%3Cpath%20d%3D%22M1683%201331l-166%20165q-19%2019-45%2019t-45-19l-531-531-531%20531q-19%2019-45%2019t-45-19l-166-165q-19-19-19-45.5t19-45.5l742-741q19-19%2045-19t45%2019l742%20741q19%2019%2019%2045.5t-19%2045.5z%22%2F%3E%3C%2Fsvg%3E) no-repeat 6px 6px / 14px 14px;
}

.phpdebugbar-close-btn {
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201792%201792%22%20id%3D%22close%22%3E%3Cpath%20d%3D%22M1490%201322q0%2040-28%2068l-136%20136q-28%2028-68%2028t-68-28l-294-294-294%20294q-28%2028-68%2028t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28%2068-28t68%2028l294%20294%20294-294q28-28%2068-28t68%2028l136%20136q28%2028%2028%2068t-28%2068l-294%20294%20294%20294q28%2028%2028%2068z%22%2F%3E%3C%2Fsvg%3E) no-repeat 9px 6px / 14px 14px;
}

.phpdebugbar-open-btn {
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201792%201792%22%20id%3D%22folder-open%22%3E%3Cpath%20d%3D%22M1815%20952q0%2031-31%2066l-336%20396q-43%2051-120.5%2086.5t-143.5%2035.5h-1088q-34%200-60.5-13t-26.5-43q0-31%2031-66l336-396q43-51%20120.5-86.5t143.5-35.5h1088q34%200%2060.5%2013t26.5%2043zm-343-344v160h-832q-94%200-197%2047.5t-164%20119.5l-337%20396-5%206q0-4-.5-12.5t-.5-12.5v-960q0-92%2066-158t158-66h320q92%200%20158%2066t66%20158v32h544q92%200%20158%2066t66%20158z%22%2F%3E%3C%2Fsvg%3E) no-repeat 8px 6px / 14px 14px;
}

.phpdebugbar-indicator {
  position: relative;
  cursor: pointer;
}

.phpdebugbar-indicator span.phpdebugbar-text {
  margin-left: 5px;
}

.phpdebugbar-indicator span.phpdebugbar-tooltip {
  display: none;
  position: absolute;
  top: -30px;
  background: #f1f5f9;
  opacity: .7;
  border: 1px solid #ccc;
  color: #555;
  font-size: 11px;
  padding: 2px 1em;
  z-index: 1000;
  text-align: center;
  right: 0;
  white-space: nowrap;
}

.phpdebugbar-indicator:hover span.phpdebugbar-tooltip:not(.phpdebugbar-disabled) {
  display: block;
}

select.phpdebugbar-datasets-switcher {
  float: right;
  display: none;
  margin: 2px 0 0 7px;
  max-width: 200px;
  max-height: 23px;
  padding: 0;
}

/* -------------------------------------- */

.phpdebugbar-body {
  border-top: 1px solid var(--border-color);
  display: none;
  position: relative;
  height: 300px;
}

/* -------------------------------------- */

.phpdebugbar-panel {
  display: none;
  height: 100%;
  overflow: auto;
  width: 100%;
}

.phpdebugbar-panel.phpdebugbar-active {
  display: block;
}

/* -------------------------------------- */

.phpdebugbar-mini-design .phpdebugbar-tab {
  position: relative;
  border-right: 1px solid #ddd;
}

.phpdebugbar-mini-design .phpdebugbar-tab span.phpdebugbar-text {
  display: none;
}

.phpdebugbar-mini-design .phpdebugbar-tab:hover span.phpdebugbar-text {
  display: block;
  position: absolute;
  top: -30px;
  background: #efefef;
  opacity: .7;
  border: 1px solid #ccc;
  color: #555;
  font-size: 11px;
  padding: 2px 3px;
  z-index: 1000;
  text-align: center;
  right: 0;
}

.phpdebugbar-mini-design .phpdebugbar-tab i {
  display: inline-block;
}



.phpdebugbar-header {
  border-top: 1px solid var(--border-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.phpdebugbar-notice {
  padding: 0.5em;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.2em;
  color: #be123c;
  background: #fef9c3;
}

.phpdebugbar-notice strong {
  letter-spacing: 0.1em;
}

.phpdebugbar-notice code {
  font-size: 0.875em;
}

.phpdebugbar-hide-notice-btn {
  float: right;
  margin: 5px;
  padding: 5px;
  width: 16px;
  height: 16px;
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201792%201792%22%20id%3D%22close%22%3E%3Cpath%20d%3D%22M1490%201322q0%2040-28%2068l-136%20136q-28%2028-68%2028t-68-28l-294-294-294%20294q-28%2028-68%2028t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28%2068-28t68%2028l294%20294%20294-294q28-28%2068-28t68%2028l136%20136q28%2028%2028%2068t-28%2068l-294%20294%20294%20294q28%2028%2028%2068z%22%2F%3E%3C%2Fsvg%3E) no-repeat;
  background-position: center;
}

.phpdebugbar-closed .phpdebugbar-notice {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.phpdebugbar-body {
  background-color: #fff;
}

.phpdebugbar-resize-handle {
  height: 5px;
  margin-top: -3;
  position: absolute;
  border-bottom: 0 none;
}

.phpdebugbar-close-btn {
  border-right: 0 none;
}

.phpdebugbar .phpdebugbar-widgets-hook {
  display: inline-block;
}

.phpdebugbar .phpdebugbar-widgets-table {
  width: 100%;
}

.phpdebugbar .phpdebugbar-widgets-table th,
.phpdebugbar .phpdebugbar-widgets-table td {
  border: 1px solid #ddd;
  padding: 5px;
}


.phpdebugbar-header {
  background: var(--header-background-color) url('./logo.png');
  background-position: -2px -1px;
  background-repeat: no-repeat;
  background-size: 70px;
  padding-left: 70px;
  min-height: 30px;
}

.phpdebugbar-header-right {
  margin-right: 5px;
}


.phpdebugbar code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
}
